.partial-image-bg{
    width: 100vw;
    height: 90vh;
    position: relative;
    display: flex;
    background-position: center center;
    background-size: cover;
    border: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    overflow: hidden;
}

.partial-container{
    width: 100%;
    max-width: 770px;
    padding-left: 96px;
    padding-right: 96px;
    margin-left: auto;
    margin-right: auto;
}

.box-container{
    padding:20px;
    color: white;
    border-top: 3px dotted white;
    border-bottom: 3px dotted white;
    margin: 0;
    display: inline-block;
    text-align: center;
     
    h1{
        font-family: 'Dancing Script', cursive;
    }
}